/* metadata */
#meta h2, #meta h3, #meta h4 {
  @apply py-2 font-bold;
}
#meta h3 {
  @apply text-xl;
}
#meta h4 {
  @apply text-lg;
}
#meta p {
  @apply py-2;
}
#meta a {
  @apply underline text-pink-600;
}
