/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* metadata */
#meta h2, h3, h4 {
  @apply py-2 font-bold;
}
#meta h3 {
  @apply text-xl;
}
#meta h4 {
  @apply text-lg;
}
#meta p {
  @apply py-2;
}
#meta a {
  @apply underline text-pink-600;
}


table {
  @apply w-full whitespace-normal text-sm;


}
table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
table th {
  @apply p-2 text-base font-normal;
}
table:first-of-type {
  margin-bottom: 15px;
}
table td {
  @apply text-left p-1;

}
table td, table th {
  @apply text-left;

}
